{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if content %}
        {{ title }}
    {% else %}
        Encyclopedia
    {% endif %}
{% endblock %}

{% block body %}
    {% if content %}
    
        {{ content|safe }}
        <a href="{% url 'edit' title %}"><button type="button" class="btn btn-primary">Edit Page</button></a>
        
    {% else %}
        <p class="text-danger">Your requested page <strong>{{ title }}</strong> was not found.</p>
    {% endif %}
    

{% endblock %}